In [9]:
import numpy as np
import pandas as pd

In [19]:
data = pd.read_csv("E:/Upwork Dataset/iris.csv")
data.sample(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
121,122,5.6,2.8,4.9,2.0,Iris-virginica
120,121,6.9,3.2,5.7,2.3,Iris-virginica
62,63,6.0,2.2,4.0,1.0,Iris-versicolor
139,140,6.9,3.1,5.4,2.1,Iris-virginica
53,54,5.5,2.3,4.0,1.3,Iris-versicolor

# Normalize the data

In [21]:
df_norm = data[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']].apply(lambda x: (x - x.min()) / (x.max() - x.min()))
df_norm.sample(n=5)   # normalization mean data in between 0,1

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
28        0.250000      0.583333       0.067797      0.041667
2         0.111111      0.500000       0.050847      0.041667
118       0.944444      0.250000       1.000000      0.916667
51        0.583333      0.500000       0.593220      0.583333
109       0.805556      0.666667       0.864407      1.000000

In [22]:
df_norm.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        0.428704      0.439167       0.467571      0.457778
std         0.230018      0.180664       0.299054      0.317984
min         0.000000      0.000000       0.000000      0.000000
25%         0.222222      0.333333       0.101695      0.083333
50%         0.416667      0.416667       0.567797      0.500000
75%         0.583333      0.541667       0.694915      0.708333
max         1.000000      1.000000       1.000000      1.000000

Convert the Species labels to indexes for use with neural network.
- Iris-setoso = 0
- Iris-versicolor = 1
- Iris-virginica = 2

In [25]:
target = data[['Species']].replace(['Iris-setosa','Iris-versicolor','Iris-virginica'],[0,1,2])
target.sample(n=10)

     Species
102        2
9          0
148        2
15         0
38         0
63         1
94         1
72         1
75         1
114        2

In [27]:
# species column concatenate 

df = pd.concat([df_norm, target], axis=1)
df.sample(n=10)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
27        0.250000      0.625000       0.084746      0.041667        0
29        0.111111      0.500000       0.101695      0.041667        0
4         0.194444      0.666667       0.067797      0.041667        0
61        0.444444      0.416667       0.542373      0.583333        1
107       0.833333      0.375000       0.898305      0.708333        2
82        0.416667      0.291667       0.491525      0.458333        1
57        0.166667      0.166667       0.389831      0.375000        1
98        0.222222      0.208333       0.338983      0.416667        1
34        0.166667      0.458333       0.084746      0.000000        0
30        0.138889      0.458333       0.101695      0.041667        0

# splitting dataset 80% for training and 20% for testing

In [29]:
train_test_per = 80/100.0
df['train'] = np.random.rand(len(df)) < train_test_per
df.sample(n=5)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species  train
2         0.111111      0.500000       0.050847      0.041667        0   True
36        0.333333      0.625000       0.050847      0.041667        0  False
111       0.583333      0.291667       0.728814      0.750000        2   True
88        0.361111      0.416667       0.525424      0.500000        1   True
58        0.638889      0.375000       0.610169      0.500000        1   True

# Separate train and test Data

In [75]:
train = df[df.train == 1]
train = train.drop('train', axis=1).sample(frac=1)
print(len(train))
train.sample(n=5)

120

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
138       0.472222      0.416667       0.644068      0.708333        2
14        0.416667      0.833333       0.033898      0.041667        0
145       0.666667      0.416667       0.711864      0.916667        2
92        0.416667      0.250000       0.508475      0.458333        1
31        0.305556      0.583333       0.084746      0.125000        0

In [76]:
test = df[df.train == 0]
test = test.drop('train', axis=1)
print(len(test))
test.sample(n=5)

30

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
81        0.333333      0.166667       0.457627      0.375000        1
53        0.333333      0.125000       0.508475      0.500000        1
98        0.222222      0.208333       0.338983      0.416667        1
52        0.722222      0.458333       0.661017      0.583333        1
115       0.583333      0.500000       0.728814      0.916667        2

In [77]:
X = train.values[:,:4]
X[:5]

array([[0.36111111, 0.33333333, 0.66101695, 0.79166667],
       [0.44444444, 0.5       , 0.6440678 , 0.70833333],
       [0.69444444, 0.33333333, 0.6440678 , 0.54166667],
       [0.61111111, 0.41666667, 0.71186441, 0.79166667],
       [0.38888889, 0.33333333, 0.52542373, 0.5       ]])

In [78]:
targets = [[1,0,0],[0,1,0],[0,0,1]]
Y = np.array([targets[int(x)] for x in train.values[:,4:5]])
Y[:5]

array([[0, 0, 1],
       [0, 1, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 1, 0]])

In [79]:
def linear_forward(A_prev, W, b):
    Z = np.dot(W, A_prev) + b
    cache = (A_prev, W, b)
    
    return Z, cache


def linear_activation_forward(A_prev, W, b, activation):
    if activation == "sigmoid":
        Z, linear_cache = linear_forward(A_prev, W, b)
        A, activation_cache = sigmoid(Z)

    elif activation == "relu":
        Z, linear_cache = linear_forward(A_prev, W, b)
        A, activation_cache = relu(Z)

    cache = (linear_cache, activation_cache)

    return A, cache


def L_model_forward(X, parameters):
    A = X
    caches = []
    L = len(parameters) // 2

    for l in range(1, L):
        A_prev = A

        A, cache = linear_activation_forward(
            A_prev, parameters["W" + str(l)], parameters["b" + str(l)], "relu")
        caches.append(cache)

    AL, cache = linear_activation_forward(
        A, parameters["W" + str(L)], parameters["b" + str(L)], "sigmoid")
    caches.append(cache)

    return AL, caches

In [80]:
def compute_cost(AL, Y):
    m = Y.shape[1]
    cost = -(np.sum(Y * np.log(AL) + (1.0 - Y) * np.log(1.0 - AL))) / m
    cost = np.squeeze(cost)

    return cost

In [81]:
def sigmoid_backward(dA, cache):
    Z = cache
    s = 1/(1 + np.exp(-Z))
    dZ = dA * s * (1-s)

    return dZ
  
    
def relu_backward(dA, cache):
    Z = cache
    dZ = np.array(dA, copy=True) 
    dZ[Z <= 0] = 0
    
    return dZ

In [82]:
def linear_backward(dZ, cache):
    A_prev, W, b = cache
    m = A_prev.shape[1]
    dW = np.dot(dZ, A_prev.T) / m
    db = np.sum(dZ, axis=1, keepdims=True) / m
    dA_prev = np.dot(W.T, dZ)

    return dA_prev, dW, db


def linear_activation_backward(dA, cache, activation):
    linear_cache, activation_cache = cache

    if activation == "relu":
        dZ = relu_backward(dA, activation_cache)
        dA_prev, dW, db = linear_backward(dZ, linear_cache)
    elif activation == "sigmoid":
        dZ = sigmoid_backward(dA, activation_cache)
        dA_prev, dW, db = linear_backward(dZ, linear_cache)

    return dA_prev, dW, db

In [83]:
def L_model_backward(AL, Y, caches):
    grads = {}
    L = len(caches) 
    m = AL.shape[1]
    Y = Y.reshape(AL.shape)

    dAL = - (np.divide(Y, AL) - np.divide(1 - Y, 1 - AL))

    current_cache = caches[L - 1]
    dA_prev_temp, dW_temp, db_temp = linear_activation_backward(dAL, current_cache, "sigmoid")
    grads["dA" + str(L-1)] = dA_prev_temp
    grads["dW" + str(L)] = dW_temp
    grads["db" + str(L)] = db_temp

    for l in reversed(range(L-1)):
        current_cache = caches[l]
        dA_prev_temp, dW_temp, db_temp = linear_activation_backward(
            grads["dA" + str(l + 1)], current_cache, "relu")
        grads["dA" + str(l)] = dA_prev_temp
        grads["dW" + str(l + 1)] = dW_temp
        grads["db" + str(l + 1)] = db_temp

    return grads
  
def update_parameters(params, grads, learning_rate):
    parameters = params.copy()
    L = len(parameters) // 2 
    for l in range(L):
        parameters["W" + str(l+1)] = parameters["W" + str(l+1)] - \
            learning_rate * grads["dW" + str(l + 1)]
        parameters["b" + str(l+1)] = parameters["b" + str(l+1)] - \
            learning_rate * grads["db" + str(l + 1)]

    return parameters

In [84]:
def L_layer_model(X, Y, layers_dims, learning_rate=0.001, num_iterations = 20000, print_cost = True):
    np.random.seed(1)
    costs = []                        

    parameters = initialize_parameters_deep(layers_dims)

    for i in range(0, num_iterations):
        AL, caches = L_model_forward(X, parameters)
        cost = compute_cost(AL, Y)
        grads = L_model_backward(AL, Y, caches)
        parameters = update_parameters(parameters, grads, learning_rate)

        if i % 3000 == 0:
            learning_rate = learning_rate / 2

        if print_cost and i % 100 == 0 or i == num_iterations - 1:
            print("Cost after iteration {}: {}".format(i, np.squeeze(cost)))
        if i % 100 == 0 or i == num_iterations:
            costs.append(cost)

    return parameters, costs

In [85]:
parameters, costs = L_layer_model(X, Y, layers_dims = [0], learning_rate = 0.001, num_iterations=1000, print_cost=True)

def predict(X, Y, parameters):
    m = X.shape[1]
    n = len(parameters) // 2 
    p = np.zeros((1, m))

    probas, caches = L_model_forward(X, parameters)

    for i in range(0, probas.shape[1]):
        if probas[0, i] > 0.5:
            p[0, i] = 1
        else:
            p[0, i] = 0
    print("Accuracy: " + str(np.sum((p == y)/m)))

    return p
'''  
pred_train = predict(test_set_x, y_test, parameters)
pred_test = predict(train_set_x, y_train, parameters)
'''

NameError: name 'initialize_parameters_deep' is not defined